<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>

    <meta charset="UTF-8" />
    <title>Friend List</title>
    <link rel ="stylesheet" href="{% static 'css/index.css' %}" />
  </head>
  <body>
      <!-- TODO loop-->
      {% include "navbar.html" %}
      <br>
      <br>
      <br>
      {% if notes %} 
        {% for note in notes %}
        <div class="card">
            <div class="container">
              <h4 style = "background-color : gray"><b>title  :{{note.title}}</b></h4>
              <div class = "isi" style = "padding:0px 0px;background :white">
              <p style = "text-align:left;background-color : black"><pre>
To    : {{note.to}} 
dari  : {{note.dari}}
                  
{{note.message}}
              </pre></p>
              </div>
            </div>
          </div> 
        {% endfor %}
    {% endif %}

  </body>
</html>
