<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <link rel ="stylesheet" href="{% static 'css/index.css' %}" />
  </head>
  <body>
    {% include "navbar.html" %}
    <br>
    <br>
    <form action = "" method = POST>
        {% csrf_token %}
        {{form.as_p}}
        <input type = "submit" value = "Submit">
    </form>
  </body>
</html>
