body{
  background-color : lightgoldenrodyellow
}
input[type=text]{
  border : 2px solid black
}
input[type=submit]{
  background-color:lightsteelblue;
  font-size:20px;
  padding:10px 24px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
table {
    width:100%;
    border : 1px solid black;
    border-collapse : collapse;
    
}
th {
    text-align: center;
    border : 1px solid black;
    background-color: lightgray;
}
td {
    border : 1px solid black;
    background-color: lightskyblue;
}

.card {
    /* Add shadows to create the "card" effect */
    margin : 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color : lightskyblue;
    width : 30%;
    float : left;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }